# macOS
.DS_Store
src/.DS_Store

# Dossiers de build (générés par qmake / Qt Creator / make)
build/
build-*/
/build-windows/
*.o
*.obj
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.exe
*.app/

# Qt Creator — réglages locaux et cache de l'éditeur (clangd)
.qtcreator/
*.pro.user
*.pro.user.*
.qtc_clangd/
.cache/
build/Desktop_Qt_6_10_2_MSVC2022_64bit-Release/.qtc_clangd/.cache/clangd/index/qapplication.h.B1390524428D7E11.idx
/build
build/Desktop_Qt_6_10_2_MSVC2022_64bit-Release/.qtc_clangd/.cache/clangd/index/qapplication.h.B1390524428D7E11.idx
